#snow-widget {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Arial, sans-serif;
    max-width: 340px;
    --fall-distance: 110px;
    padding: 24px;
    border-radius: 14px;
    text-align: center;
    overflow: hidden;
    color: #2c3646;
}

#snow-status {
    font-size: 20px;
    margin-bottom: 6px;
}

#snow-sub {
    font-size: 14px;
}

.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -20px;
    color: white;
    font-size: 1em;
    user-select: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-20px) rotate(0deg);
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    80% {
        opacity: 0.4;
    }

    100% {
        transform: translateY(var(--fall-distance)) rotate(360deg);
        opacity: 0;
    }
}

@media screen and (min-width: 425px) {
    #snow-status {
            font-size: 22px;
            margin-bottom: 8px;
        }
    
        #snow-sub {
            font-size: 16px;
        }
}